<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Principal</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="bookings">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Tickets</ion-label>
    </ion-tab-button>
    
    <ion-tab-button tab="menus">
      <ion-icon name="book-outline"></ion-icon>
      <ion-label>Menú</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
