<app-no-internet *ngIf="!tieneInternet;else contenttota"></app-no-internet>

<ng-template #contenttota>
  <app-header titulo="Tickets"></app-header>

  <ion-content>
    <!-- Refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <app-data-bookings
      cedula="1721796066"
      (reservaEmit)="ventaSeleccionada($event)"
    >
    </app-data-bookings>
    <app-tickets cedula="1721796066"></app-tickets>
  </ion-content>
</ng-template>
