.estadoPendiente ion-label {
    color: #eb445a;
}

.estadoRealizada ion-label {
    color: #64AB40;
}

#noDataVenta {
    margin-top: 25px;
    margin-bottom: 10px;
}

#noDataVenta p{
    font-size: 16px;
}
